/* ------ TAILWIND: https://tailwindcss.com/docs/installation ------ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utilities */
@layer utilities {
  .absolute-y-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .absolute-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }
}
